<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body>
    <center><h1>Welcome to the Cafe & Wifi API</h1></center>
    <center><img src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" 
    alt="outdoor cafe" width="50%"></center
    <!-- <img src="cafe.unsplash.jpg" alt="coffee and notes on table in cafe" > -->
    <center><img src = "https://images.unsplash.com/photo-1514066558159-fc8c737ef259?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" alt="barista's hand pouring a latte"
    width=50% ></center>
</body>
</html>
